@model WebApplication3.ViewModel.VM

@{
    ViewBag.Title = "CreateCV";
}

<h2>
    Create CV<br />
    hi @Model.Employee.FirstName<br />
    Welcome to our CV generator!<br /><br />
</h2>
please fill the fields below - stage 1/6 <br /><br />


@using (Html.BeginForm("UpdateLang", "Employee", FormMethod.Post))
{
<div class="form-group row">
    <label for="inputID" class="col-sm-2 col-form-label">ID number</label>
    <div class="col-sm-10">
        @Html.TextBoxFor(m => m.Pd.ID, new { @class = "form-control", id = "inputID" })
        <small class="text-danger">@Html.ValidationMessageFor(x => x.Pd.ID)</small>
    </div>
</div>

<div class="form-group row">
    <label for="inputFirstName" class="col-sm-2 col-form-label">First Name</label>
    <div class="col-sm-10">
        @Html.TextBoxFor(m => m.Pd.FirstName, new { @class = "form-control", id = "inputFirstName" })
        <small class="text-danger">@Html.ValidationMessageFor(x => x.Pd.FirstName)</small>
    </div>
</div>

<div class="form-group row">
    <label for="inputLastName" class="col-sm-2 col-form-label">Last Name</label>
    <div class="col-sm-10">
        @Html.TextBoxFor(m => m.Pd.LastName, new { @class = "form-control", id = "inputLastName" })
        <small class="text-danger">@Html.ValidationMessageFor(x => x.Pd.LastName)</small>
    </div>
</div>

<div class="form-group row">
    <label for="inputBirthday" class="col-sm-2 col-form-label">Date Of Birth (dd\mm\yyyy) </label>
    <div class="col-sm-10">
        @Html.TextBoxFor(m => m.Pd.DateOfBirth, new { @class = "form-control", id = "inputDateOfBirthe" })
        <small class="text-danger">@Html.ValidationMessageFor(x => x.Pd.DateOfBirth)</small>
    </div>
</div>

<div class="form-group row">
    <label for="inputAddress" class="col-sm-2 col-form-label">Address </label>
    <div class="col-sm-10">
        @Html.TextBoxFor(m => m.Pd.Address, new { @class = "form-control", id = "inputAddress" })
        <small class="text-danger">@Html.ValidationMessageFor(x => x.Pd.Address)</small>
    </div>
</div>

<div class="form-group row">
    <label for="inputTel" class="col-sm-2 col-form-label">Phone Number </label>
    <div class="col-sm-10">
        @Html.TextBoxFor(m => m.Pd.Tel, new { @class = "form-control", id = "inputTel" })
        <small class="text-danger">@Html.ValidationMessageFor(x => x.Pd.Tel)</small>
    </div>
</div>


<div class="form-group row">
    <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
        @Html.TextBoxFor(m => m.Pd.Email, new { @class = "form-control", id = "inputEmail" })
        <small class="text-danger">@Html.ValidationMessageFor(x => x.Pd.Email)</small>
    </div>
</div>


<div class="form-group row">
    <label for="inputSkills" class="col-sm-2 col-form-label">Skills</label>
    <div class="col-sm-10">
        @Html.TextBoxFor(m => m.Pd.Skills, new { @class = "form-control", id = "inputSkills" })
        <small class="text-danger">@Html.ValidationMessageFor(x => x.Pd.Skills)</small>
    </div>
</div>

<div class="form-group row">
    <label for="inputSummary" class="col-sm-2 col-form-label">Summary </label>
    <div class="col-sm-10">
        @Html.TextBoxFor(m => m.Pd.Summary, new { @class = "form-control", id = "inputSummary" })
        <small class="text-danger">@Html.ValidationMessageFor(x => x.Pd.Summary)</small>
    </div>
</div>

<input id="role" name="role" type="hidden" value="CV" />
<input class="btn btn-outline-primary" id="submit" type="submit" value="Next" />
<h4 class="text-danger">@ViewBag.message</h4>
}

















