@model IEnumerable<WebApplication3.Models.QA>

@{
    ViewBag.Title = "QAview";
}

<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EditorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InfoContent)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EditorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InfoContent)
            </td>
        </tr>
    }

</table>
