@model WebApplication3.Models.LookingAd
@using WebApplication3.Models

<h2>Looking for a job Board</h2>
*Add an AD<br />
*filter by disability

<table class="table" id="LookingTable">
    <tr>
        <td>Employee Details</td>
        <td></td>
        <td></td>
        <td></td>
        <td>Disabilities</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Description</td>
        <td></td>
    </tr>


    <tr>
        <td>Employee Name</td>
        <td>Email</td>
        <td>Phone Number</td>
        <td></td>
        <td>Vision</td>
        <td>Hearing</td>
        <td>Thinking</td>
        <td>Learning</td>
        <td>Movement</td>
        <td>MentalHealth</td>
        <td>Communicating</td>
        <td>Social</td>

        <td></td>
        <td>CV</td>
        <td></td>
    </tr>

    <tr>
        <td>@Model.Name</td>
        <td>@Model.Email</td>
        <td>@Model.Phone</td>
        <td></td>
        <td>@Html.CheckBoxFor(m => @Model.Vision, new { @disabled = "disabled" })</td>
        <td>@Html.CheckBoxFor(m => @Model.Physical, new { @disabled = "disabled" }) </td>
        <td>@Html.CheckBoxFor(m => @Model.MentalIllness, new { @disabled = "disabled" }) </td>
        <td>@Html.CheckBoxFor(m => @Model.Sensory, new { @disabled = "disabled" }) </td>
        <td></td>
        <td>cv</td>
        <td></td>
    </tr>



    @*
        @foreach (LookingAd ad in  )
        {
        <tr>
            <td>ad.Name</td>
            <td>ad.Email</td>
            <td>ad.Phone Number</td>
            <td></td>

            <td>ad.Intellectual</td>
            <td>ad.Physical</td>
            <td>ad.MentalIllness</td>
            <td>ad.Sensory</td>
            <td></td>

            <td>ad.Description</td>
            <td></td>
        </tr>

        }


    *@

</table>
