@model WebApplication3.Models.User
@{
    Layout = null;
}
<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width" />
</head>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<html>


<body>
    <div>

        @using (Html.BeginForm("SignUp", "User", FormMethod.Post))
        {
            <i>First Name:</i> @Html.TextBoxFor(m => m.FirstName) @Html.ValidationMessageFor(x => x.FirstName)
            <br />
            <i>Last Name:</i> @Html.TextBoxFor(m => m.LastName) @Html.ValidationMessageFor(x => x.LastName)
            <br />
            <i>User Name:</i> @Html.TextBoxFor(m => m.UserName) @Html.ValidationMessageFor(x => x.UserName)
            <br />
            <i>Password:</i> @Html.PasswordFor(m => m.Password) @Html.ValidationMessageFor(x => x.Password)
            <br />
            <input id="SignUp" type="submit" value="Add User" />
        }



    </div>
</body>
</html>