@model IEnumerable<WebApplication3.Models.Content>

@{
    ViewBag.Title = "Contentedittor";
}

<h2>Content Editor</h2>

<p>
    @Html.ActionLink("Edit Page", "ContentCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EditorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InfoContent)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EditorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InfoContent)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.InfoContent }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.InfoContent })
            </td>
        </tr>
    }

</table>

